{{- 'collapsible-content.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign section_heading = section.settings.heading
	assign marker_style = section.settings.marker_style
	assign section_description = section.settings.description

	assign color_bg = section.settings.color_bg | downcase
	assign color_heading = section.settings.color_heading
	assign marker_color = section.settings.marker_color
	assign color_text = section.settings.color_text
	assign color_links = section.settings.color_links
	assign color_border = section.settings.color_border
	assign color_body_bg = settings.color_body_bg | downcase

	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
	assign header_text_align = section.settings.header_text_align
	assign content_text_align = section.settings.content_text_align

	assign has_bg = true
	if color_body_bg == color_bg or color_bg == 'transparent' or color_bg == 'rgba(0,0,0,0)'
		assign has_bg = false
	endif
-%}
<div class="row">
	<div class="small-12 columns">
		<div class="section-header-wrapper" style="text-align: {{ header_text_align }}; --header-justify: {{ header_text_align }};">
			{% render 'section-header', section_heading: section_heading, section_description: section_description, marker_color: marker_color, marker_style: marker_style %}
		</div>
		<div class="collapsible-content {% if has_bg -%}collapsible-content--has-bg{% endif %} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" style="--color-bg: {{ color_bg }}; --color-heading: {{ color_heading }}; --color-text: {{ color_text }}; --color-links: {{ color_links }}; --color-border: {{ color_border }}; text-align: {{ content_text_align }}; padding: 0; max-width: 939px;margin: 0 auto;">
			<div class="collapsible-content__inner">
				{%- liquid
					assign group_blocks = section.blocks | where: 'type', 'content_group'
				-%}
				{%- if group_blocks.size > 0 -%}
					{%- comment -%} Groups exist - organize collapsibles under groups {%- endcomment -%}
					{%- for block in section.blocks -%}
						{%- case block.type -%}
							{%- when 'content_group' -%}
								{%- liquid
									assign next_group_index = nil
									assign current_index = forloop.index
									
									for next_block in section.blocks offset: current_index
										if next_block.type == 'content_group'
											assign next_group_index = forloop.index | plus: current_index
											break
										endif
									endfor
								-%}
								<div class="collapsible-content-group" {{ block.shopify_attributes }}>
									{%- if block.settings.heading != blank -%}
										<h2 class="collapsible-content-group__heading h3" style="--heading-bg: {{ block.settings.heading_bg }}; --heading-text: {{ block.settings.heading_text }};">{{ block.settings.heading }}</h2>
									{%- endif -%}
									{%- if block.settings.text != blank -%}
										<div class="collapsible-content-group__text rte">{{ block.settings.text }}</div>
									{%- endif -%}
									<div class="collapsible-content-group__accordions">
										{%- for accordion_block in section.blocks offset: current_index -%}
											{%- if next_group_index and forloop.index >= next_group_index -%}
												{%- break -%}
											{%- endif -%}
											{%- if accordion_block.type == 'collapsible_tab' and accordion_block.settings.heading != blank -%}
												<collapsible-row class="accordion" {{ accordion_block.shopify_attributes }}>
													<details id="Details-{{ accordion_block.id }}-{{ section.id }}" {% if accordion_block.settings.open %}open{% endif %}>
														<summary>
															{{ accordion_block.settings.heading | default: accordion_block.settings.page.title }}
															<span class="accordion-icon" style="color: {{ accordion_block.settings.icon_color | default: color_heading }};"></span>
														</summary>
														<div class="collapsible__content accordion__content rte" id="Accordion-{{ accordion_block.id }}-{{ section.id }}">
															{{ accordion_block.settings.content }}
															{{ accordion_block.settings.page.content }}
															{{ accordion_block.settings.custom_liquid }}
														</div>
													</details>
												</collapsible-row>
											{%- endif -%}
										{%- endfor -%}
									</div>
								</div>
							{%- when 'collapsible_tab' -%}
								{%- comment -%} Skip - handled within groups {%- endcomment -%}
						{%- endcase -%}
					{%- endfor -%}
				{%- else -%}
					{%- comment -%} No groups - just show collapsibles {%- endcomment -%}
					<div class="collapsible-content-group">
						<div class="collapsible-content-group__accordions">
							{%- for block in section.blocks -%}
								{%- if block.type == 'collapsible_tab' and block.settings.heading != blank -%}
									<collapsible-row class="accordion" {{ block.shopify_attributes }}>
										<details id="Details-{{ block.id }}-{{ section.id }}" {% if block.settings.open %}open{% endif %}>
											<summary>
												{{ block.settings.heading | default: block.settings.page.title }}
												<span class="accordion-icon" style="color: {{ block.settings.icon_color | default: color_heading }};"></span>
											</summary>
											<div class="collapsible__content accordion__content rte" id="Accordion-{{ block.id }}-{{ section.id }}">
												{{ block.settings.content }}
												{{ block.settings.page.content }}
												{{ block.settings.custom_liquid }}
											</div>
										</details>
									</collapsible-row>
								{%- endif -%}
							{%- endfor -%}
						</div>
					</div>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Collapsible content",
  	"class": "section-collapsible-content",
    "settings": [
			{
				"type": "text",
				"id": "heading",
				"label": "Heading",
				"default": "Collapsible content",
				"info": "Wrap your text between | to add animated markers. For example: Animated |marker| will underline marker text."
	    },
			{
				"type": "select",
				"id": "marker_style",
				"options": [
					{
						"value": "style1",
						"label": "Basic"
					},
					{
						"value": "style2",
						"label": "Double"
					},
					{
						"value": "style3",
						"label": "Squiggle"
					},
					{
						"value": "style4",
						"label": "Zigzag"
					}
				],
				"default": "style1",
				"label": "Marker"
			},
		{
			"type": "richtext",
			"id": "description",
			"label": "Description",
			"default": "<p>Add a short description for this section</p>"
		},
		{
			"type": "select",
			"id": "header_text_align",
			"label": "Header alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left"
		},
		{
			"type": "select",
			"id": "content_text_align",
			"label": "Content alignment",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left"
		},
		{
        "type": "header",
        "content": "Colors"
      },
			{
        "type": "color",
        "id": "color_bg",
        "label": "Background",
        "default": "transparent"
      },
			{
        "type": "color",
        "id": "color_heading",
        "label": "Heading",
        "default": "#1a1c1d"
      },
			{
				"type": "color",
				"id": "marker_color",
				"label": "Marker",
				"default": "#FD6262"
			},
			{
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#2c2d2e"
      },
			{
        "type": "color",
        "id": "color_links",
        "label": "Links",
        "default": "#2c2d2e"
      },
			{
        "type": "color",
        "id": "color_border",
        "label": "Border",
        "default": "#DADCE0"
      },
			{
        "type": "header",
        "content": "Spacing"
      },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "blocks": [
		{
			"type": "content_group",
			"name": "Content group",
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Content group heading"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Add descriptive text for this group of collapsible rows.</p>"
				},
				{
					"type": "header",
					"content": "Heading colors"
				},
				{
					"type": "color",
					"id": "heading_bg",
					"label": "Heading background",
					"default": "transparent"
				},
				{
					"type": "color",
					"id": "heading_text",
					"label": "Heading text",
					"default": "#1a1c1d"
				}
			]
		},
		{
			"type": "collapsible_tab",
			"name": "Collapsible row",
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"default": "Collapsible row",
					"info": "Include a heading that explains the content.",
					"label": "Heading"
				},
				{
					"type": "checkbox",
					"id": "open",
					"default": false,
					"label": "Open by default"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Row content"
				},
				{
					"type": "page",
					"id": "page",
					"label": "Row content from page"
				},
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "Custom liquid",
					"info": "Add app snippets or other Liquid code to create advanced customizations. For product description, you can use {{ product.description }}"
				},
				{
					"type": "header",
					"content": "Icon"
				},
				{
					"type": "color",
					"id": "icon_color",
					"label": "Icon color",
					"default": "#1a1c1d"
				}
			]
		}
    ],
    "presets": [
      {
        "name": "Collapsible content",
			"blocks": [
	        {
	          "type": "content_group"
	        },
	        {
	          "type": "collapsible_tab"
	        },
	        {
	          "type": "collapsible_tab"
	        },
	        {
	          "type": "content_group"
	        },
	        {
	          "type": "collapsible_tab"
	        },
	        {
	          "type": "collapsible_tab"
	        }
	      ]
      }
    ],
		"enabled_on": {
			"templates": ["*"],
			"groups": [
				"header", "footer"
			]
		}
  }
{% endschema %}
